.footer {
  height: 50px;
  width: 100%;
  background-color: #282828;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}

.footer__list {
  list-style: none;
  display: flex;
  color: #fff;
}

.list__item{
    margin: 0 10px;
}

.item__link{    
    color: #fff;
}



