<form
  action="/"
  class="contact_form"
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
>
  <h2>Напишіть нам</h2>
  <div class="contact_form__inputs">
    <label class="contact_form__label">
      <span> Ім'я </span>
      <input
        type="text"
        class="contact_form__input"
        formControlName="name"
        [class.contact_form__input--invalid]="validateInput('name')"
      />
      <span *ngIf="validateInput('name')" class="contact_form__error_text">
        Некоректне ім'я
      </span>
    </label>
    <label class="contact_form__label">
      <span>Номер телефону</span>
      <input
        type="tel"
        class="contact_form__input"
        formControlName="phoneNumber"
      />
      <span
        *ngIf="validateInput('phoneNumber')"
        class="contact_form__error_text"
      >
        Некоректний номер телефону
      </span>
    </label>
  </div>
  <label class="contact_form__label">
    <span>Ваше повідомлення</span>
    <textarea class="contact_form__textarea" formControlName="text"></textarea>
    <span
    *ngIf="validateInput('text')"
    class="contact_form__error_text"
  >
    Повідомлення не може бути порожнім
  </span>  
</label>
  <button class="button button--cart">
    <span>Написати</span>
  </button>
</form>
