<main>
  <div class="container">
    <h2 class="content__title">Про нас</h2>
    <p class="text">
      Ласкаво просимо до піцерії "Like Pizza" – вашого улюбленого місця для
      смачної піци в самому серці Києва! Наша гордість - це готувати піцу
      виключно за оригінальним італійським рецептом, щоб ви могли насолодитися
      неперевершеним смаком традиційних італійських страв прямо у нашому місті.
    </p>
    <p class="text">
      У нашому розмаїтому меню ви знайдете популярні сорти піци, які
      задовольнять будь-які смакові переваги.
    </p>
    <p class="text">
      Якщо ви шанувальник класики, спробуйте нашу Італійську піцу, де свіже
      тісто поєднується зі смачними томатами, сиром Моцарелла та ароматними
      травами.
    </p>
    <p class="text">
      Для шанувальників гостроти ми пропонуємо піцу Пепероні з пікантним салямі,
      сиром та соусом на основі томатів. Вона точно збудить ваші смакові
      рецептори та підкреслить вашу любов до гостренького смаку.
    </p>

    <p class="text">
      М'ясні піци – це справжня насолода для любителів ситних страв. Наша М'ясна
      піца виконана з м'ясним асортиментом, який включає салямі, шинку, куряче
      філе та смачний соус. Вона заповнить вас енергією та задовольнить ваш
      апетит.
    </p>
    <p class="text">
      Якщо ви шукаєте щось просте, але смачне, спробуйте нашу Маргариту –
      класичну комбінацію білого сиру, свіжих томатів та базиліку. Цей варіант
      піци завжди підкорює серця своїм простим, але неперевершеним смаком.
    </p>
    <p class="text">
      І нарешті, для шанувальників сиру ми маємо Чотири сири – піцу, яка
      об'єднує в собі чудову гармонію смаків чотирьох сирів
    </p>
  </div>
</main>
