<main>
  <div class="container">
    <h2 class="content__title">Наша команда</h2>
    <div class="content__items">
      <article>
        <img src="/assets/team/illya.jpg" alt="" />
        <div>
          <span class="name">Ілля</span>
          <span>Шеф-кухар</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/ya.jpg" alt="" />
        <div>
          <span class="name">Олександр</span>
          <span>Адміністратор</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/vitalik.jpg" alt="" />
        <div>
          <span class="name">Віталій</span>
          <span>Піцейола</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/jeka.jpg" alt="" />
        <div>
          <span class="name">Євген</span>
          <span>Старший піцейола</span>
        </div>
      </article>
      <article>
        <img src="/assets/team/taras.jpg" alt="" />
        <div>
          <span class="name">Тарас</span>
          <span>Офіціант</span>
        </div>
      </article>
    </div>
  </div>
</main>
