.content__items {
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}

article {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  margin: 15px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
  }
  img:hover {
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
  }
  .name {
    margin: 10px 5px;
    font-size: 26px;
  }
}
